.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0;
  z-index: 100;
}

.content {
  max-width: 720px;
  width: 100%;
  margin: auto;
  margin-top: 76px;
}

.footer {
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
