.header {
  height: '100%';
  line-height: 64px;
}

.auth {
  float: right;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  background-color: #fafafa;
}
